#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.contact_button:hover {
  background-color: white;
  color: black;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 69px auto 55px auto;
}

.modal header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  margin-top: 25px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 75px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photograph-filters {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.photograph-filters select {
  margin-left: 25px;
  background-color: #901c1c;
  font-size: 18px;
  color: white;
}

.photograph-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 58px;
}

.photograph-media h1 {
  font-size: 20px;
  color: #901c1c;
  margin-top: 0px !important;
  margin-bottom: 0;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.photograph-media img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-media video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.media-container {
  margin-bottom: 30px;
  margin-right: 95px;
}

.media-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-info h2 {
  font-size: 24px;
  color: #901c1c;
}

.media-info i {
  margin-left: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #901c1c;
}

.prices-container {
  background-color: #db8876;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 89px;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 36px;
  text-align: right;
  padding-top: 10px;
  padding-right: 31px;
  padding-left: 31px;
}

.prices-container p {
  font-size: 24px;
  width: fit-content;
}

.prices-container i {
  margin-left: 10px;
}

.header-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-modal p {
  margin: 0 !important;
  font-size: 64px;
}

.lightbox_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
  padding-top: 50px;
}

.lightbox_modal .close {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.lightbox_modal .lightbox_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lightbox_modal .lightbox_container .lightbox_mid {
  position: relative;
}
.lightbox_modal .lightbox_container .close {
  position: absolute;
  top: 0;
  right: -50px;
}

.lightbox_modal .lightbox_container .lightbox_media {
  width: 1050px;
  height: 815px;
  object-fit: cover;
}

.lightbox_modal p {
  color: #901c1c;
  font-size: 24px;
  margin-left: 315px;
}
